<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>KBQA</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="homepage">
	<h1>Knowledge Base Question Answering</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('get_answer')}}"method="post">
    	<input type="text" name="Question" placeholder="Type your question in here and submit" required="required" />
<!--        <input type="text" name="test_score" placeholder="Test Score" required="required" />-->
<!--		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />-->

        <button type="submit" class="btn btn-primary btn-block btn-large">Get Result</button>
    </form>

   <br>
   <br>
   <p>
       {{Answer_text}}
   </p>

     <br>
     查询模板：<br>
      <p>
          1. which movie is directed by CHANGE_PERSON_NAME <br>
          2. which movie CHANGE_PERSON_NAME acted in <br>
      </p>





 </div>


<img src="https://img2.baidu.com/it/u=2513087910,89920483&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=322"  alt="KG pic" />
</body>
</html>
